html {
  font-family: system-ui, sans-serif;
  caret-color: #2c70de;
  font-size: 18px;
  line-height: 1.6;
}

body {
  max-width: 700px;
  padding: 20px;
  margin: 0 auto;
}

*::selection {
  color: white;
  background-color: #2c70de;
}
